sudo: required
dist: trusty
language: python
python:
        - "3.4"
        - "3.5"
        - "3.6"

# dependencies
before_install:
        - sudo apt-get -qq update
        - sudo apt-get install libaqbanking-dev libgwenhywfar60-dev

# tests
script: python3 setup.py install

